SITEA_DOMAIN="https://example.com"
SITEA_START_URL="https://example.com/real-state-offers/1"
SITEA_FORMATTED_URL="https://example.com/real-state-offers/{n}"
ZONEINFO_KEY="America/Santiago"

SPARK_HOME="heres/my/spark/"
