SITEA_DOMAIN="https://example.com"
SITEA_START_URL="https://example.com/real-state-offers/1"
SITEA_FORMATTED_URL="https://example.com/real-state-offers/{n}"
ZONEINFO_KEY="America/Santiago"

SPARK_HOME="heres/my/spark/"

SCRAPY_LOG_FILE=scrapy_spider.log
SCRAPY_LOG_LEVEL=DEBUG
SCRAPY_DOWNLOAD_DELAY=10.0

SCRAPY_AUTOTHROTTLE_ENABLED=true
SCRAPY_AUTOTHROTTLE_START_DELAY=
SCRAPY_AUTOTHROTTLE_MAX_DELAY=
SCRAPY_AUTOTHROTTLE_TARGET_CONCURRENCY=

SCRAPY_HTTPCACHE_ENABLED=true
SCRAPY_HTTPCACHE_EXPIRATION_SECS=43200
SCRAPY_HTTPCACHE_DIR=httpcache

SCRAPY_SCHEDULER_DEBUG=True